/* #region root */
:root{
    --main: #ff6900;
    --sostenibilità: green;


}
/* #endregion root */
/* #region debug */
.debug .container{
    border: 1px dashed black;
}
.debug .bgorange{
    height: 40px;
}

/* #endregion debug */
/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* #endregion common */
/* #region utilities */
.container{
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    padding: 3px;
    color: white;
    font-size: 10px;
    font-weight: bold;   
}
nav{
    display: flex;
    vertical-align: middle;
    padding: 6px;
}
.square{
    width: 210px;
    border: 1px solid white;
    height: 360px;
    margin: 2px;  
}
.discount{
    position: absolute;
    bottom: 5%;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 25px;
    height: 13px;
    background-color: red;
}
.like{
    position: absolute;
    right: 0;
    top: 2%;
    background-color: aliceblue;
    width: 15px;
    text-align: center;
    display: none;
}
.sostenibilità{
    position: absolute;
    bottom: 5%;
    left: 27px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background-color: var(--sostenibilità);
    height: 13px;
    color: white;

}
.brand{
    position: absolute;
    top: 100%;
    font-size: 10px;
}
.name{
    position: absolute;
    top: 102%;
    font-size: 12px;
}
.price{
    position: absolute;
    top: 105%;
    font-size: 9px;
}
.price{
    color: red;
}
.delete{
    color: black;
    text-decoration: line-through;
}
/* #endregion utilities */
/* #region header */
.bgorange{
    background: var(--main);
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 200px;
    padding-right: 244px;
    justify-content: space-between;
}

.card{
    width: 100%;
    padding: 40px;
    padding-inline: 200px;
}
.icon{
   padding-top: 5px; 
}
/* #endregion header */
/* #region main */
.relaxed{
    background-image: url(../img/1.webp);
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}
.roses{
    background-image: url(../img/2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.pastello{
    background-image: url(../img/3.webp);
    background-size: cover;
    position: relative;
}
.tee{
    background-image: url(../img/4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.stripe{
    background-image: url(../img/5.webp);
    background-size: cover;
    position: relative;
}
.maglione{
    background-image: url(../img/6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.aaaa{
    left: 0%;
}
/* #endregion main */
/* #region footer */
.namesite{
    background-color: black;
    width: 100%;
    color: white;
    padding-left: 200px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    
    h3{
        font-size: 12px;
        margin-top: 20px;
    }
    a{
        font-size: 8px;
        margin-top: 20px;
    }
}
.social{
    h4{
        margin-bottom: 5px;
        font-size: 10px;
        margin-top: 10px;
    }
}

/* #endregion footer */
/* #region hooverlike */
.relaxed:hover .like{
    display: block;
    color: red;
}
.roses:hover .like{
    display: block;
    color: red;
}
.pastello:hover .like{
    display: block;
    color: red;
}
.tee:hover .like{
    display: block;
    color: red;
}
.stripe:hover .like{
    display: block;
    color: red;
}
.maglione:hover .like{
    display: block;
    color: red;
}
/* #endregion hoverlike */
/* #region hoverimg */
.relaxed:hover{
    background-image: url(../img/1b.webp);
}
.roses:hover{
    background-image: url(../img/2b.webp);
}
.pastello:hover{
    background-image: url(../img/3b.webp);
}
.tee:hover{
    background-image: url(../img/4b.webp);
}
.stripe:hover{
    background-image: url(../img/5b.webp);
}
.maglione:hover{
    background-image: url(../img/6b.webp);
}
/* #endregion hoverimg */
